# Dependencies
node_modules
.pnpm-store

# Build output
dist

# Turbo
.turbo

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.cursor

# OS
.DS_Store
Thumbs.db

# Env files
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
